easydict
gym
termcolor
ipdb
matplotlib
pybase64
seaborn
opencv-python
jupyter
open3d
chart_studio
kaleido
wandb
textwrap3
mypy
openai==1.14.3
anthropic==0.34.1
google-ai-generativelanguage==0.6.6
google-generativeai==0.7.2
numpy==1.26.0
torchvision==0.15.2
torch==2.0.1
